.margen {
    padding: 10px; 
  }

  .margen2 {
    padding: 15px; 
  }

  .buton {
    margin-top: 1px;
    width: 100%;
    padding: 25px; 
  }
  
  .button-col {
    display: flex;
    justify-content: center;
  }